*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #cb8007;
}
.wrapper{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2rem;
    color: #07001f;
}
p{
    margin-bottom: 1.7rem;
}
form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
}
.recover a{
    text-decoration: none;
    color: black;
}
button a{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    /* width: 100px; */
    background: rgb(133, 53, 53);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.or{
    font-size: 0.8rem;
    margin-top: 1.5rem;
}
.no-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
}
.no-member a{
    text-decoration: none;
    color: rgb(133, 53, 53);
}
a:hover{
    text-decoration: underline;
}


/* body{
    background-color: black;
}
h1{
    color: white;
    font-size: 100px;
    font-weight: bold;
}
.mail{
    padding-right: 100px;
}
.pass{
    padding-right: 100px;
}
.first{
    padding-right: 100px;
}
.last{
    padding-right: 100px;
}
.submit{
    padding: 10px;
    border-radius: 50px;
    transition: 2s;
}
.submit:hover{
    background-color: red;
} */